
    <div class="form-group row">
        <label for="name" class="col-form-label"> Task: </label> &nbsp;&nbsp;
        <input type="text" placeholder="Search.." class="form-control col-sm-3" (keyup)="SearchTasks($event.target.value)" on/>&nbsp;&nbsp;
        <label for="name" class="col-form-label">Sort Task by:</label> &nbsp;
        <input type="button"  class="btn btn-secondary btn-md" id="btnFname" name="fname" value="StartDate" (click)="SortingUsers($event.target.value)" /> &nbsp;&nbsp;
        <input type="button"  class="btn btn-secondary btn-md" id="btnLname" name="lname" value="EndDate" (click)="SortingUsers($event.target.value)"/> &nbsp;&nbsp;
        <input type="button"  class="btn btn-secondary btn-md" id="btnEid" name="prior" value="Priority" (click)="SortingUsers($event.target.value)"/> &nbsp;&nbsp;  
        <input type="button"  class="btn btn-secondary btn-md" id="btnEid" name="status" value="Completed" (click)="SortingUsers($event.target.value)"/>              
    </div>
  

  
  <div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Task Names</th>
          <th scope="col">Parent Task Names</th>
          <th scope="col">Priority</th>
          <th scope="col">Startdate</th>
          <th scope="col">Enddate</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{item.TaskName}} </td>
          <td>{{item.ParentTask.ParentTaskName}} </td>
          <td>{{item.Priority}} </td>
          <td>{{item.StartDate | date: 'yyyy-MM-dd'}} </td>
          <td>{{item.EndDate | date: 'yyyy-MM-dd'}} </td>
          <td>
            <a [routerLink]="['/taskedit', item.TaskID]" class="btn btn-primary">Edit</a>
          </td>
          <td *ngIf="item.Status=='InProgress'">
            <a (onclick)="EndTask(item.TaskID)" class="btn btn-primary">End Task</a>
          </td>
        </tr>
      </tbody>
  
    </table>
  </div>
