<!--The content below is only a placeholder and can be replaced.-->
<div class="col-align">
<div style="text-align:center">
  <h1>
    Project Manager
  </h1>  
</div>
<div>
  <form>
    <div class="">
        <a [routerLink]="'project'" class="btn btn-link">Add Project</a>  &nbsp; &nbsp;
        <a [routerLink]="'taskadd'" class="btn btn-link">Add Task</a> &nbsp; &nbsp;
        <a [routerLink]="'user'" class="btn btn-link">Add User</a>  &nbsp; &nbsp;
        <a [routerLink]="'taskview'" class="btn btn-link">View Task</a>
    </div>
  </form>
</div>
<div >
  <router-outlet></router-outlet>
</div>
</div>